<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/allStyles.css">
  <title>All Blogs</title>
  <script>
    function redirectTo(blogId){
      var url='/blogs/'+blogId;
      window.location.href=url;
    }
  </script>
  <%- include('navbar.ejs') %>
</head>
<body>

  <main>
    <% allBlogs.forEach((blog)=>{ %>
    <article>
      <h2><%- blog.title%></h2>
      <img src="<%- blog.imageUrl %>" alt="Blog Image">
      <p><strong><%- blog.subtitle %>:</strong></p>
      <p><%- blog.description%></p>
      <button onclick="redirectTo(<%- blog.id %>)">See more</button>
    </article>
 <% }) %>
 
    <!-- Add more articles as needed -->

  </main>

</body>
</html>
